*{
    /*     background: linear-gradient(to right, rgb(161, 236, 161),white); */ 

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 

@import 'animation';
@import 'index'; 
@import 'us';
@import 'products';
@import 'responsive';
@import 'clients';
@import 'footer';
@import 'contact';
@import 'bases'; 

.gradient {
    @extend .gradient;
    background: radial-gradient(grey, black);
    padding-bottom: 50rem; 
}


.gradient-extend {
    @extend .gradient;
    background: black;
}

    








 


