* {
  /*     background: linear-gradient(to right, rgb(161, 236, 161),white); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@-webkit-keyframes my-animation {
  0% {
    background-color: black;
  }
  10% {
    background-color: rgb(51, 63, 47);
  }
  14% {
    background-color: rgb(24, 43, 18);
  }
  18% {
    background-color: rgb(35, 78, 40);
  }
  24% {
    background-color: rgb(9, 83, 18);
  }
  30% {
    background-color: rgb(25, 91, 31);
  }
  45% {
    background-color: rgb(8, 76, 15);
  }
  65% {
    background-color: rgb(7, 135, 2);
  }
  70% {
    background-color: rgb(8, 76, 15);
  }
  75% {
    background-color: rgb(9, 83, 18);
  }
  82% {
    background-color: rgb(25, 91, 31);
  }
  90% {
    background-color: rgb(11, 36, 13);
  }
  95% {
    background-color: rgb(24, 43, 18);
  }
  100% {
    background-color: rgb(35, 78, 40);
  }
}

@keyframes my-animation {
  0% {
    background-color: black;
  }
  10% {
    background-color: rgb(51, 63, 47);
  }
  14% {
    background-color: rgb(24, 43, 18);
  }
  18% {
    background-color: rgb(35, 78, 40);
  }
  24% {
    background-color: rgb(9, 83, 18);
  }
  30% {
    background-color: rgb(25, 91, 31);
  }
  45% {
    background-color: rgb(8, 76, 15);
  }
  65% {
    background-color: rgb(7, 135, 2);
  }
  70% {
    background-color: rgb(8, 76, 15);
  }
  75% {
    background-color: rgb(9, 83, 18);
  }
  82% {
    background-color: rgb(25, 91, 31);
  }
  90% {
    background-color: rgb(11, 36, 13);
  }
  95% {
    background-color: rgb(24, 43, 18);
  }
  100% {
    background-color: rgb(35, 78, 40);
  }
}
.box-animado-1 {
  -webkit-animation: my-animation 20s linear 0s infinite;
          animation: my-animation 20s linear 0s infinite;
}

.name {
  display: flex;
  flex-direction: row-reverse;
  background: radial-gradient(grey, black);
  padding: 1rem;
}
.name .text-start a {
  color: white;
  height: 10rem;
  padding: 4rem;
  font-family: fantasy;
  text-decoration: none;
}
.name .text-start a:hover {
  color: tomato;
  height: 10rem;
  padding: 4rem;
  font-family: fantasy;
}

.seccion-central .cont-index {
  display: flex;
  width: 100%;
  justify-content: center;
}
.seccion-central .cont-index .gradient, .seccion-central .cont-index .gradient-extend {
  background: radial-gradient(grey, black);
}
.seccion-central .cont-index .item-index {
  width: auto;
  background-color: wheat;
  padding: 30px 20px;
  border: 5px solid green;
  margin-top: 200px;
  margin-left: auto;
}

.us {
  height: 55rem;
  padding: 2rem;
}

@media (max-width: 1000px) {
  .name .text-start a {
    display: none;
  }
  .us {
    background: radial-gradient(grey, black);
    height: 55rem;
    padding: 2rem;
  }
  .us .us-1 {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    margin: 0rem 0rem 5rem 8rem;
    border: 2rem;
    content: 2rem;
    background-color: rgb(111, 28, 0);
    color: grey;
  }
  .us #img-us {
    width: 10rem;
    height: 10rem;
  }
  .us:hover {
    width: 11rem;
    height: 11rem;
    padding: 2rem;
    margin: 0rem 0rem 5rem 8rem;
    background-color: rgba(0, 0, 0, 0.494);
    color: tomato;
    transition: all 1s;
    box-shadow: 10px;
  }
  .cont-index {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .cont-index .gradient, .cont-index .gradient-extend, .seccion-central .cont-index .gradient-extend, .seccion-central .cont-index .gradient {
    background: radial-gradient(grey, black);
    padding-bottom: 50rem;
  }
  .cont-index .item-index {
    width: auto;
    background-color: wheat;
    padding: 30px;
    border: 5px solid green;
    margin-top: 200px;
    margin-right: 70px;
  }
}
.box-contact {
  height: 56rem;
}

.text-contact {
  color: white;
}
.text-contact:hover {
  color: black;
  background-color: white;
}

.gradient, .gradient-extend, .seccion-central .cont-index .gradient-extend, .seccion-central .cont-index .gradient {
  background: linear-gradient(green, grey);
}

footer {
  background: linear-gradient(green, grey);
  color: white;
  height: auto;
}
footer div {
  -webkit-animation: my-animation 20s linear 0s infinite;
          animation: my-animation 20s linear 0s infinite;
}

footer {
  background: linear-gradient(green, grey);
  color: white;
  height: auto;
}
footer div {
  -webkit-animation: my-animation 20s linear 0s infinite;
          animation: my-animation 20s linear 0s infinite;
}

.box-contact {
  height: 56rem;
}

.text-contact {
  color: white;
}
.text-contact:hover {
  color: black;
  background-color: white;
}

.col-12 .btn-1 {
  display: inline-block;
  padding: 10px 40px;
  border: 5px solid tomato;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px solid;
  background: linear-gradient(to right, grey, green);
}

.gradient, .gradient-extend, .seccion-central .cont-index .gradient-extend, .seccion-central .cont-index .gradient {
  background: radial-gradient(grey, black);
  padding-bottom: 50rem;
}

.gradient-extend {
  background: black;
}/*# sourceMappingURL=estilo-lc.css.map */